/.vagrant/
/node_modules/
/plugins/vendor/
/console.log
/.env
/.idea/

# Uploads directory
/uploads/

# Leftover core/plugin upgrade files
/upgrade/

# drop-ins; these are managed at the platform-level
/db.php

# Database exports from wp-cli on local environment.
local/public/*.sql

# Ignore temporary OS files
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# XML import/Export files in local environment.
local/public/*.xml

# Umbraco export command
local/umbraco-legacy/vendor
local/umbraco-legacy/*.xml
