parameters:
  level: 3
  checkMissingIterableValueType: false
  paths:
    - .
  excludePaths:
    analyseAndScan:
      - tests/
      - node_modules/
      - themes/twentytwenty/
      - plugins/memcached/
      - mu-plugins/query-monitor
      - db.php
    analyse:
      - plugins/vendor/
      - local/public/wp/
  stubFiles:
    - mu-plugins/tests/phpstan/wordpress-override.php
  dynamicConstantNames:
    - WP_DEBUG
    - WP_SCRIPT_DEBUG
